.todo {
  border: 2px solid black;
  margin: 1rem;
  padding: 4rem 2rem;
  color: white;
  border-radius: 10px;
  width: 10rem;
  height: 10rem;
  position: relative;
}


.button {
    outline: none;
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;

}